<h2>welcome to food and flix</h2>
<div ng-controller="MovieIndex">
  <button ng-click ="showList()">See All Movies!</button>
  <div ng-show="listIsVisible" ng-repeat="movie in movieIndex">
      {{movie}}
    <hr/>
  </div>

</div>
